// --------------------------------------------------
// Module: Judge List
// -------------------------------------------------

.judge_picture {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: -2px;
  // padding-bottom: 1.35rem;
}

.judge_name {
  @extend %ms2;

  display: block;
}

.judge_workplace {
  display: block;
}

.judge_workplace {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.25;
  padding-top: .3rem;
  padding-bottom: 1rem;
}

.judge_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.judge_list-item {
  width: 48%;

  @media screen and (min-width: 650px){
    width: 23%;
  }
}

.judge_social-list {
    margin-bottom: .75rem;
    position: relative;
    top: -4px;

  li:first-of-type {
    @extend %ms-1;
    text-transform: uppercase;
    padding-bottom: .125rem;
  }

  .judge_social-link {
    @extend %base-anchor;
    font-family: 'Gentium Book Basic', serif;
    padding-top: .5rem;
  }
}