// --------------------------------------------------
// Module: Timeline
// -------------------------------------------------

// Placeholders

%css-circle {
  content: "";
  position: absolute;
  left: -13px;
  bottom: -38px;
  border: 2px solid $pink;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  z-index: 1;
}

%css-half-circle-top {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  border: 2px solid $white;
  border-radius: 0 0 100px 100px;
  left: -13px;
  top: -26px;
  z-index: 2;
}

%css-half-circle-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  border: 2px solid $white;
  border-radius: 100px 100px 0 0;
  left: -13px;
  top: -39px;
  z-index: 2;
}

%time {
  @extend %ms0-sans;
  position: relative;
  left: -17px;

  @include breakpoint(tight) {
    font-size: 1.25rem;
    left: -23px;
  }
}

// Timeline Styles


// .section_04 {
//   .page-wrapper::before {
//     @extend %css-half-circle-top;
//   }
// }

.page-wrapper {
  position: relative;
  &::after {
    @extend %css-circle;
  }
}

// .section_05 {
//   .page-wrapper {
//     position: relative;
//     &::before {
//       @extend %css-half-circle-bottom;
//     }

//     &::after {
//       @extend %time;
//       content: "9 AM";
//       bottom: -10px;
//     }
//   }
// }

.nav-main, .nav-mobile, .section_end, .page-footer, header, .grey-section {
  .page-wrapper {
    &::after {
      border: none;
    }
  }
}