// --------------------------------------------------
// Color Variables
// --------------------------------------------------

$white: #ffffff;
$black: #141416;
$grey: #f7f7f7;
$pink: #ee6ba6;
$dark-pink: #cc3387;

.grey-section {
	background-color: $grey;
}

.pink-section {
	background-color: $pink;
}