// --------------------------------------------------
// Color Variables
// --------------------------------------------------

$white: #ffffff;
$black: #141416;
$grey: #f5f5f5;
$pink: #ee6ba6;

.grey-section {
	background-color: $grey;
}

.pink-section {
	background-color: $pink;
}