// --------------------------------------------------
// Page Components
// --------------------------------------------------

// Hero Section
.hero {
  height: calc(80vh - 12rem);
}

// Page Sections
section {
  padding: 3rem 0;
  background: $white;

  // @include baseline;

}

// Page Wrapper
.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  margin: 0 1.5rem;
  border-left: 2px solid $pink;

  &.no--border {
    border: none;
  }

  &.white--border {
    border-left: 2px solid $white;
  }

  @include breakpoint(max--width) {
    margin: 0 auto;
  }
}

// Content Sections
.content {
  // @include four--of--six;
  // @include five--of--six;

  margin-left: $margin--one;
  padding: 1.5rem 0 7.5rem 0;
  overflow: auto;

  @include breakpoint(content--wide) {
    // @include four--of--six;
  }

}
.editorial {
  @include five--of--six;

  @include breakpoint(content--wide) {
    @include two--of--six;
  }
}

// Our Judges Section

.judge_name,
.judge_workplace {
  display: block;
}

.judge_social-list {

  li:first-of-type{
    color: $pink;
    text-transform: uppercase;
  }
}


