// --------------------------------------------------
// Page Components
// --------------------------------------------------

// LAYOUT HELPERS
//
// These should be as modular as possible for reuse

.page-wrapper{
  max-width: 74rem;
  margin: 0 6%;

  // margin: 0 1.5rem;

  @include breakpoint(max-width) {
    margin: 0 auto;
  }
}

// PAGE SECTIONS
.section-content {
  padding: 1.5rem 0 2rem 6%;
  overflow: auto;
  border-left: 2px solid $pink;

  @include breakpoint(tight) {
    padding: 1.5rem 0 7.5rem 6%;
  }

  @include breakpoint(wide) {
    padding: 1.5rem 9rem 7.5rem 9rem;
  }

  @include breakpoint(max-width) {
    padding-left: 9rem;
    padding-right: 9rem;
  }
  // @include baseline;
}

.section_04 {
   color: $white;

  .section-number {
    color: $white;
    border-bottom: 2px solid $white;
  }
}

// PAGE SECTIONS
section {
  position: relative;
  padding: 1.5rem 0;
  background: $white;

  & #sec-1, #sec-2, #sec-3, #sec-4 {
    position: absolute;
    top: -4.4rem;
  }

  // @include baseline;
}

// // Page Wrapper
// .wrapper {
//   max-width: 70rem;
//   margin: 0 auto;
//   margin: 0 1.5rem;
//   border-left: 2px solid $pink;

//   &.no--border {
//     border: none;
//   }

//   &.white--border {
//     border-left: 2px solid $white;
//   }

//   @include breakpoint(max--width) {
//     margin: 0 auto;
//   }
// }

// Content Sections
// .content {
//   // @include four--of--six;
//   // @include five--of--six;

//   margin-left: $margin--one;
//   padding: 1.5rem 0 7.5rem 0;
//   overflow: auto;

//   @include breakpoint(content--wide) {
//     // @include four--of--six;
//   }

// }

.editorial {
  width: 100%;
  float: left;
  clear: both;

  @include breakpoint(tight) {
    @include two--of--six;
  }
}

// OUR PARTNERS SECTION
.partners-list {
  display: -webkit-flex; /* Safari */
  display: box;   /* Safari and Chrome iOS (Old)*/
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners-list_list-item {
  width: 100%;

  @media screen and (min-width: 425px){
    max-width: 28%;
  }
}

.partner-logo {
  // width: 100%;
  // max-height: 30px;
  // max-width: 100%;
}
