@mixin baseline {
  background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
  background-repeat: repeat-y;
  background-size: 100% 1.5rem;
  background-position: (0px -1px);
}
body {
  font-size: 16px;
  line-height: 1.5;
}
p {
  padding-top: .375rem;
  padding-bottom: 1.125rem;
}
h2 {
  font-size: 2.4375rem;
  line-height: 3rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
h3 {
  font-size: 1.5625rem;
  line-height: 3rem;
  padding-top: 1rem;
  padding-bottom: calc(.5rem - 2px);
  width: 5rem;
  border-bottom: 2px solid $pink;
}